<!-- Todo: логотип, описание, облако тегов -->
<div class="about-header" [style.height.px]="620">
  <div class="about-header-bg"></div>
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex="40" fxLayoutAlign=" center" fxLayout="column" [style.padding-top.px]="52">
      <div class="mat-display-3"> Lorem ipsum dolor sit amet. </div>
      <div class="mat-display-1"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus fuga saepe tempore. </div>
    </div>
    <div fxFlex="40" [style.overflow]="'hidden'" fxLayoutAlign=" center">
      <img src="../../../assets/images/logo.png">
    </div>
  </div>
</div>
<mbg-tags-cloud></mbg-tags-cloud>
