<!-- Todo: логотип, описание, облако тегов -->
<div class="about-header">
  <div class="about-header-bg"></div>
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex="40" fxLayoutAlign=" center" fxLayout="column" style="padding-top: 52px">
      <div class="mat-display-3"> Lorem ipsum dolor sit amet. </div>
      <div class="mat-display-1"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus fuga saepe tempore. </div>
    </div>
    <div fxFlex="40" style="overflow: hidden" fxLayoutAlign=" center">
      <img src="../../../assets/images/logo.png" style="border-radius: 40px">
    </div>
  </div>
</div>
<
