<mat-toolbar class="header">
  <mat-toolbar-row>
    <div fxFlex fxLayoutGap="12px">
      <a mat-button routerLink="./"> Главная </a>
      <a mat-button routerLink="./about"> О нас </a>
    </div>
    <div fxLayoutAlign="center center"  fxFlex="10" *ngIf="currentUser$ | async as user; else authBlock" >
        <mat-icon fxFlex="32px" *ngIf="!user.avatar"> account_circle </mat-icon>
      <img [src]="user.avatar" class="user-icon"/>
      {{ user.name }}
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          <span>Профиль</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Выйти</span>
        </button>
      </mat-menu>
    </div>
    <ng-template #authBlock>
      <a mat-button routerLink="registration"> Регистрация </a>
      <a mat-button routerLink="login"> Авторизация </a>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>
