.default-icon {
  font-size: 24px !important;
  &.account {
    font-size: 32px !important;
  }
}
.default-page {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
}

.margin-left8 {
  margin-left: 8px;
}
.margin-left4 {
  margin-left: 4px;
}
.margin-right8 {
  margin-right: 8px;
}
.margin-right4 {
  margin-right: 4px;
}
